.data_panel___row_container {
  position: relative;
}

.data_panel___container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  left: 10px;
  top: 60px;
  position:fixed;
  z-index: 1;
  padding: 0px 24px;
}

.data_panel___tabs_container {
  background-color: white;
  width: 300px;
  height: 50px;
  right: 0px;
  top: -50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data_panel___tab {
  cursor: pointer;
  height: 50px;
  text-align: center;
  padding-top: 12px;

  a {
    font-weight: 600;
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }
}

.data_panel___tab_active {
  border-top: 3px solid #228b22;

  a {
    font-weight: 600;
    color: #228b22;
    text-decoration: none;
  }

  a:visited {
    color: #228b22;
    text-decoration: none;
  }
}

.data_panel___tab_link {
  font-size: 18px;
}

.data_panel___tabs_shadow_cutoff_container {
  position: absolute;
  right: 0px;
  top: -50px;
  height: 50px;
  overflow: hidden;
}

.data_panel___main_header {
  font-size: 34px;
  font-weight: 600;
  padding-top: 24px;
  margin-bottom: 24px;
}

.data_panel___header {
  margin: 0px;
  font-size: 20px;
  text-align: left;
}
