.region_details___container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // height: 246px;
  right: 60px;
  top: 10px;
  position:fixed;
  z-index: 1;
  padding: 0px 24px;
}

.region_details__region_id {
  font-size: 14px;
  font-weight: 600;
}

.region_details__name_header {
  padding: 10px 0px 4px 0px;
}

.region_details__table_container {
  width: 100%;
  padding-bottom: 28px;
}

.region_details__table {
  height: 100%;
  width: 100%;

  th {
    border: 1px solid lightgray;
    padding-left: 10px;
    font-size: 14px;
  }

  tr {
    border: 1px solid lightgray;
    font-size: 14px;
  }

  td {
    border: 1px solid lightgray;
    padding-left: 10px;
    font-size: 14px;
  }
}

.region_details__total_case_table_row {
  border-top: 2px solid black !important;
}

.region_details__total_case_table_entry {
  font-weight: 600;
}

.region_details__table_row_recovered {
  color: #228b22;
}

.region_details__table_row_hospitalized {
  color: #ff8000;
}

.region_details__table_row_isolated {
  color: grey;
}

.region_details__table_row_deceased {
  color: #ff0000;
}
