@import './components/App';
@import './components/LandingPage/Home';
@import './components/LandingPage/DataPanel';
@import './components/LandingPage/Map';
@import './components/LandingPage/RegionDetails';
@import './components/LandingPage/HospitalDetails';
@import './components/LandingPage/TotalCasesPanel';
@import './components/LandingPage/MedicalFacilitiesPanel';
@import './components/LandingPage/MedicalFacilityCard';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
